<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.holland.gateway.mapper.CodeMapper">
    <cache
            eviction="FIFO"
            flushInterval="60000"
            size="1024"
            readOnly="true"/>
    <resultMap id="BaseResultMap" type="com.holland.gateway.domain.Code">
        <result property="type" column="type" jdbcType="CHAR"/>
        <result property="code" column="code" jdbcType="CHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        `type`,`code`,`name`
    </sql>

    <delete id="delete">
        delete
        from `code`
        where `type`=#{type}
          and `code`=#{code}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.holland.gateway.domain.Code"
            useGeneratedKeys="true">
        insert into `code`
            ( `type`,`code`,`name`)
        values (#{type,jdbcType=CHAR}, #{code,jdbcType=CHAR}, #{name,jdbcType=VARCHAR})
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.holland.gateway.domain.Code">
        update
        `code`
        set
            `code` = #{code,jdbcType=CHAR},
            `name` = #{name,jdbcType=VARCHAR}
            where `type` = #{type,jdbcType=CHAR} and `code` = #{code,jdbcType=CHAR},
    </update>

    <select id="all" resultType="java.util.Map">
        select `code`, `name`
        from `code`
        where `type` = #{type}
    </select>
</mapper>
