<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.holland.gateway.mapper.LogMapper">

    <resultMap id="BaseResultMap" type="com.holland.common.entity.gateway.Log">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="operateUser" column="operate_user" jdbcType="VARCHAR"/>
            <result property="operateTime" column="operate_time" jdbcType="TIMESTAMP"/>
            <result property="operateType" column="operate_type" jdbcType="VARCHAR"/>
            <result property="operateApi" column="operate_api" jdbcType="VARCHAR"/>
            <result property="ip" column="ip" jdbcType="VARCHAR"/>
            <result property="param" column="param" jdbcType="VARCHAR"/>
            <result property="result" column="result" jdbcType="INTEGER"/>
            <result property="response" column="response" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        `id`,`operate_user`,`operate_time`,
        `operate_type`,`operate_api`,`ip`,
        `param`,`result`,`response`
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from `log`
        where  `id` = #{id,jdbcType=INTEGER}
    </select>

    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.holland.common.entity.gateway.Log" useGeneratedKeys="true">
        insert into `log`
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="operateUser != null">`operate_user`,</if>
                <if test="operateTime != null">`operate_time`,</if>
                <if test="operateType != null">`operate_type`,</if>
                <if test="operateApi != null">`operate_api`,</if>
                <if test="ip != null">`ip`,</if>
                <if test="param != null">`param`,</if>
                <if test="result != null">`result`,</if>
                <if test="response != null">`response`,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="operateUser != null">#{operateUser,jdbcType=VARCHAR},</if>
                <if test="operateTime != null">#{operateTime,jdbcType=TIMESTAMP},</if>
                <if test="operateType != null">#{operateType,jdbcType=VARCHAR},</if>
                <if test="operateApi != null">#{operateApi,jdbcType=VARCHAR},</if>
                <if test="ip != null">#{ip,jdbcType=VARCHAR},</if>
                <if test="param != null">#{param,jdbcType=VARCHAR},</if>
                <if test="result != null">#{result,jdbcType=INTEGER},</if>
                <if test="response != null">#{response,jdbcType=VARCHAR},</if>
        </trim>
    </insert>

    <select id="count" resultType="java.lang.Long">
        select count(1) from log
    </select>
    <select id="list" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from log
        limit #{offset},#{limit}
    </select>
</mapper>
